.main-footer {
  background-color: #0d0d0d;
  direction: rtl;
}

.logo-box {
  background-color: #ff5c00;
}

.footer-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  right: 35px;
}
.footer-title::after {
  content: '';
  position: absolute;
  bottom: 20px;
  right: -51px;
  width: 40px;
  height: 2px;
  background-color: #ff5c00;
}

.main-footer ul li {
  margin-bottom: 10px;
  transition: 0.3s;
}
.main-footer ul li a {
  text-decoration: none;
  color: #888;
  transition: 0.3s;
}
.main-footer ul li a:hover {
  color: #ff5c00;
  padding-right: 5px;
}

.social-icons a {
  color: #888;
  background-color: #212121;
  border: #888 solid 1px;
  padding: 9px;
  transition: 0.3s;
}
.social-icons a:hover {
  color: white;
  background-color: #ff5c00;
  border: transparent solid 1px;
}

.btn-orange {
  background-color: #ff5c00;
}

.newsletter input {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 10px;
}
.newsletter input:focus {
  box-shadow: transparent 0 0 0;
  border: #ff5c00 solid 2px;
}
.newsletter input::placeholder {
  color: #555;
}

.newsletter button {
  padding: 10px;
}

.w-80 {
  width: 80%;
}
