<footer class="main-footer pt-5 pb-4 text-white border-top border-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="footer-logo mb-4">
          <span class="logo-box text-light px-3 py-2 rounded-4 fs-4">ع</span>
          <h3 class="d-inline-block me-3">عدسة</h3>
        </div>
        <p class="text-secondary small mb-5">
          <span class="d-block">مدونة متخصصة في التصوير الفوتوغرافي،</span>
          <span class="d-block">نشارك معكم أسرار المحترفين ونصائح عملية</span>
          <span class="d-block">لتطوير مهاراتكم.</span>
        </p>
        <div class="social-icons">
          <a href="#" class="rounded-3 ms-2"><i class="fab fa-youtube fs-5"></i></a>
          <a href="#" class="rounded-3 ms-2"><i class="fab fa-linkedin fs-5"></i></a>
          <a href="#" class="rounded-3 ms-2"><i class="fab fa-github fs-5"></i></a>
          <a href="#" class="rounded-3"><i class="fab fa-x-twitter fs-5"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 mb-4">
        <h5 class="footer-title fw-bold">استكشف</h5>
        <ul class="list-unstyled p-0">
          <li class="p-0"><a href="#">الرئيسية</a></li>
          <li><a href="#">المدونة</a></li>
          <li><a href="#">من نحن</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 mb-4">
        <h5 class="footer-title fw-bold">التصنيفات</h5>
        <ul class="list-unstyled p-0">
          <li><a href="#">إضاءة</a></li>
          <li><a href="#">بورتريه</a></li>
          <li><a href="#">مناظر طبيعية</a></li>
          <li><a href="#">تقنيات</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="footer-title">ابقى على اطلاع</h5>
        <p class="text-secondary small">
          <span class="d-block">اشترك للحصول على أحدث المقالات</span
          ><span class="d-block">والتحديثات</span>
        </p>
        <div class="newsletter">
          <input
            type="email"
            class="form-control mb-2 w-80 p-2"
            placeholder="ادخل بريدك الإلكتروني"
          />
          <button routerLink="/home" class="btn btn-orange text-light rounded-pill fw-bold w-80">
            اشترك الآن
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom pt-3 border-top border-secondary text-center">
    <div class="container d-flex justify-content-between align-items-center flex-wrap">
      <p class="mb-0 text-secondary">جميع الحقوق محفوظة &copy; 2026</p>
      <div class="footer-bottom-links ps-5 ms-3">
        <a href="#" class="ms-3 text-secondary text-decoration-none">سياسة الخصوصية</a>
        <a href="#" class="text-secondary text-decoration-none">شروط الخدمة</a>
      </div>
    </div>
  </div>
</footer>
